#priceCheck {
    max-width: 95vw;
    width: 95vw;
    max-height: 95vh;
}

#priceCheck > .modal-body {
    padding: 5px 5px 5px 5px;
}

#priceCheck > .modal-body > .form-inline {
    text-align: center;
}

#priceCheck > .modal-body > .form-inline > .input-append {
    width: 50%;
}