/*
    Fix the Catalog Dropdown:
    In the current version of RQ, the dropdown menu which appears when you
    search for a catalog item while editing a ticket is broken. It is
    set to extend off the right side of the screen. This fixes that issue.
*/

.ajax-suggestion-list {
    left: auto !important;
    right: 20vw !important;
    max-width: 60vw !important;
    width: 60vw !important;
    text-align: center !important;
}

