@charset "UTF-8";

:root {
    --backgroundColor: #FFFFFF;
    --mainFontColor: #030608;
    --primaryColor: #076b96;
    --primaryDark: #03425d;
    --accentColor: #03425d;
    --altAccentColor: #47c57a; 

    --bulletinGradient: linear-gradient(to right, #47c57a, #A2A0A0, #A2A0A0, #A2A0A0, #A2A0A0, #076b96);
}

* {
    margin: 0;
    padding: 0;
}

* > h1, * > h2, * > h3, * > p, * > a, * > ul > li, * > ol > li, * > div
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  line-height: 1.5;
  color: var(--mainFontColor);
}

* > a, * > a:hover, * > a:visited {
    text-decoration: none;
}

* > ul, * > ol {
    margin-left: 2.5rem;
}

body {
    background-color: var(--backgroundColor);
    text-align: center;
}

.bulletin-container {
    width: 100%;
    background-image: var(--bulletinGradient);
    position: fixed;
    top: 0;
    left: 0;
}

.bulletin {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 7% 86% 7%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #11ffee00;
}

.bulletin > div {
    width: 100%;
    text-align: center;
    background-color: #11ffee00;
}

.bulletin > div > img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #11ffee00;
}

.bulletin > div > h1 {
    font-size: 3.5rem;
    color: var(--mainFontColor);
    padding-top: 0.5rem;
    background-color: #11ffee00;
}

.settings {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.settings-column {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4rem;
    text-align: left;
}

.settings-column > h3 {
    font-size: 2.25rem;
    text-align: left;
}

.settings-column > h5 {
    font-size: 1.5rem;
}

.settings-column > label {
    width: 100%;
    font-size: 1.5rem;
    line-height: 3.5rem;
}

.checkbox > button {
    font-size: 1.25rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-right: 5px;
    border: solid 3px var(--accentColor);
    border-radius: 3px;
    color: var(--backgroundColor);
    cursor: pointer;
}

.checked, .checked > * {
    background-color: var(--accentColor);
}

.unchecked {
    background-color: var(--backgroundColor);
}

.settings-column > p {
    width: 100%;
    font-size: 1.25rem;
}

.settings-column > ul > li {
    width: 90%;
    margin-right: 10%;
    font-size: 1.25rem;
}

.settings-column > form {
    margin-bottom: 25px;
}

.settings-column > form > label {
    font-size: 1.25rem;
}

.settings-column > form > label > input {
    background-color: var(--backgroundColor);
    color: var(--mainFontColor);
    font-size: 1.25rem;
    border: solid 5px var(--mainFontColor);
    border-bottom-color: var(--accentColor);
    border-radius: 4px;
    padding: 0.25rem;
    width: 80%;
    margin-bottom: 10px;
}

#saveOptions {
    background-color: var(--primaryDark);
    border: 5px solid var(--primaryDark);
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    color: var(--backgroundColor);
    cursor: pointer;
}

#saveOptions:hover {
    background-color: var(--primaryColor);
    border: 5px solid var(--primaryColor);
    border-radius: 15px;
    transition: 0.2s;
}

.qlCheck > input {
    width: 10%;
    text-align: left;
}
